bin/
build/**
build/classes/main/Main.class
.gradle/3.3/taskArtifacts/fileHashes.bin
.gradle/3.3/taskArtifacts/fileSnapshots.bin
.gradle/3.3/taskArtifacts/taskArtifacts.bin
.gradle/3.3/taskArtifacts/taskArtifacts.lock
.gradle/3.3/taskArtifacts/taskArtifacts.bin
.gradle/3.3/taskArtifacts/fileHashes.bin
.gradle/3.3/taskArtifacts/fileSnapshots.bin
.gradle/3.3/taskArtifacts/taskArtifacts.bin
.gradle/3.3/taskArtifacts/taskArtifacts.lock
.gradle/3.3/taskArtifacts/taskArtifacts.lock
bin/Main$1.class
bin/Main.class
output/CameraVision.zip
output/CameraVision-all.jar
build/scripts/rpi-camera-2018.bat
build/scripts/rpi-camera-2018
build/libs/CameraVision.jar
build/libs/CameraVision-all.jar
build/distributions/CameraVision.zip
build/distributions/CameraVision.tar
build/classes/main/Main.class
